<p>
  <big>dr Paweł Skórzewski</big><br>
  {{ 'Adiunkt' | translate }}
</p>

<p>
{{ 'Uniwersytet im. Adama Mickiewicza w Poznaniu' | translate }} <a href="http://amu.edu.pl" aria-label="Website"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a><br>
{{ 'Wydział Matematyki i Informatyki' | translate }} <a href="http://wmi.amu.edu.pl" aria-label="Website"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a><br>
{{ 'Pracownia Systemów Informacyjnych' | translate }} <a href="http://psi.amu.edu.pl" aria-label="Website"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span></a><br>
</p>

<address>
  ul. Umultowska 87<br>
  61-614 Poznań
</address>

<dl>
    <dt>{{ 'Pokój' | translate }}</dt>
    <dd>B2-35</dd>

    <dt>{{ 'Dyżury' | translate }}</dt>
    <dd>{{ 'Wtorki' | translate }} 12:00-13:00<br>
        {{ 'Środy' | translate }} 9:00-10:00</dd>

    <dt>{{ 'Adres poczty elektronicznej' | translate }}</dt>
    <dd>pawel.skorzewski@amu.edu.pl</dd>
</dl>
