<div ng-controller="publicationsCtrl">
    <ul>
        <p>{{ 'Publikacje' | translate }}:</p>
        <li ng-repeat="publication in publications">
            <span ng-bind-html="publication.html()"></span>
        </li>
    </ul>
    <ul class="list-unstyled">
        <li>
            <span class="bibtexable">
                {{ 'Wykaz wszystkich publikacji w BibTeX-u' | translate}}:
                <a class="bibtex-button" title="BibTeX">
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                </a>
                <pre class="bibtex-content">{{ publications_bibtex }}</pre>
            </span>
        </li>
    </ul>
</div>
